/* You can add global styles to this file, and also import other style files */

app-root {
width: 100vw;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}

app-calculator {
width: 60%;
text-align: center;
margin-top: 10vh;
}

@media (min-width: 576px) {
.col-sm-4 {
-ms-flex: 0 0 33.333333%;
flex: 0 0 33.333333%;
max-width: none;
}
}

html,
body {
height: 100%;
}
body {
margin: 0;
font-family: Roboto, "Helvetica Neue", sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
